* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

body {
    background: #c9d0db;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

.subtitle {
    color: #3a2828fb;
    margin-top: 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1.2fr 1fr; 
  gap: 40px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.left-side {
  display: grid;
  grid-template-rows: auto auto;
  gap: 40px;
}

.card {
    background: rgb(4, 122, 190);
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    margin-top: 10px;
}

.balance {
    width: 100%;
    text-align: center
}

.balance-row {
    display: flex;
    align-items: center;
}


.amount {
    font-size: 28px;
    font-weight: bold;
    color: #f9faf9;
    margin-top: 10px;
}

.actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.actions input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.action {
    background-color: #0b0101;
    color: #f9faf9;
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.5s;
}

.action:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 22px rgba(9, 0, 0, 0.12);
}


.expense{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.expense-info {
  display: contents;
}

.expense-name {
  font-weight: bold;
}

.expense-date {
  color: #0b0101;
  font-size: 14px;
  font-weight: bold;
}

.expense-amount {
  text-align: right;
  font-weight: bold;
}
.expense-list {
  list-style: none;
  margin-top: 15px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  width: 380px;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-primary {
  background: #047abe;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background: #035f93;
}


.close-modal {
  float: right;
  cursor: pointer;
}


@media (max-width: 600px) {
    .actions {
        grid-template-columns: column;
    }
}